*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
  align-content: end;
}

.result {
  width: 711px;
  box-sizing: border-box;
  padding-top: 78px;
}

.result__video-container {
  padding: 0;
  margin-bottom: 16px;
  height: 386px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  width: 711px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 36.48px;
  align-content: start;
}

.search-form__fieldset {
  border: none;
  margin: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 5px;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 225px;
  height: 27px;
  color: rgb(255 255 255 / 0.7);
  border: none;
  box-shadow: none;
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-right: 3.52px;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  margin-right: 1.5px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__label-text:not(:last-of-type) {
  margin-right: 15px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after,
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 1.5px;
  margin-right: 4px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  height: 34px;
  align-self: end;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin: 0;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  justify-self: end;
  margin: 0;
  align-self: end;
}

.content__details {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #1b1919;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-top: 2px;
  margin-bottom: 2px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: block;
  overflow: hidden;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.more-button {
  max-width: 100%;
  width: 399px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
